.ouvr {
    display: block;
    margin: 0% 3%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}


.boxchantier button {
    background-color: #0D21A1;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: block; /* Assurez-vous que le bouton est affiché en tant que bloc */
    margin: 0 auto; /* Centrez horizontalement */
    margin-top: 10px; /* Ajoutez un espace au-dessus du bouton */
  }

  .date-selector {
    margin: 5% ;
    margin-bottom: 0%;
  }

  .scroll{
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .date-selector-planning {
    margin-top: 15%;
    margin-left: 5%;

  }