.indicateurs {
    display: flex;
    justify-content: space-around;
}
.indicateur {
    background-color: #0D21A1;
    color: #f8f9f9;
    border-radius: 20%;
    padding: 2% 2%;
    margin: 0px 3%;
    display: grid;
    text-align: center; 
    grid-template-rows: auto auto auto; 
}

.icone {
    grid-row: 2; 
}

.nombre {
    font-size: 100px;
    grid-row: 3; 
}

.label {
    grid-row: 1; 
    font-weight: bold;
    font-size: 24px;
}

.accueila h1 {
    margin-top: 3%;
}

.rdv {
    display: flex;
    justify-content: space-around;
    padding: 2% 2%;
}

.rendez_vous {
    margin-left: 4%;
}

.bouton {
    background-color: #C94277;
    color: #fff;
    padding: 8px 2%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.rendez_vous button {
    background-color: #C94277;
    color: #fff;
    padding: 8px 2%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}