form {
  max-width: 70%;
  margin: 0 auto;
  padding: 0% 0%;
  padding-bottom: 2%;
  }
.login h1 {
  margin-bottom: 0%;
  color: #011638;
}
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,select {
    width: 70%;
    border: none; 
    border-bottom: 1px solid #011638; 
    padding: 8px;
    margin-bottom: 10%;
    background-color: transparent; 
    outline: none; 
  }
  
  .login button {
    background-color: #0D21A1;
    color: #fff;
    padding: 15px 30%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0D21A1;
  }
  
  .login {
    text-align: center;
  }
  .logo {
    width: 60%; 
    max-width: 300px; 
    height: auto; 
  }
  
  .Link {
    text-decoration: none;
    text-align: left;
    color: #C94277;
    padding-bottom: 5%;
  }

  .titre_chantier {
    margin-top:45%;
  }

  .titre_rdv {
    margin-top:30%;
  }

  .titre_client {
    margin-top:10%;
  }
  