.opening-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .logo {
    width: 80%;
    height: auto;
    max-width: 300px;
  }
  
  .enter-app-link {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    cursor: pointer;
  }
  